<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scrooge</title>
    <link
      rel="stylesheet"
      href={Routes.static_path(@conn, "/css/app.css")}
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <%= link("Scrooge", to: Routes.page_path(@conn, :index), class: "navbar-brand") %>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <% user = @conn.assigns.user %>
          <%= if Scrooge.User.user_signed_in?(user) do %>
            <li class="nav-item">
              <%= link("Aemo", to: Routes.aemo_path(@conn, :index), class: link_class(@active, "aemo")) %>
            </li>
            <li class="nav-item">
              <%= link("Tesla", to: Routes.tesla_path(@conn, :index), class: link_class(@active, "tesla")) %>
            </li>
            <%= if Scrooge.User.user_is_admin?(user) do %>
              <li class="nav-item">
                <%= link("Dashboard", to: Routes.live_dashboard_path(@conn, :home), class: link_class(@active, "dashboard")) %>
              </li>
            <% end %>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <%= user.name %>
              </a>
              <div class="dropdown-menu">
                <%= link "Logout", to: Routes.session_path(@conn, :logout), method: :post, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link("Login", to: Routes.session_path(@conn, :new), class: link_class(@active, "login") ) %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <%= for {flash_key, flash_message} <- get_flash(@conn) do %>
        <p class={"alert alert-#{flash_key}"}><%= flash_message %></p>
      <% end %>
      <%= @inner_content %>
    </main>

    <footer class="text-muted small">
      <div class="container">
        Version <%= Application.get_env(:scrooge, :vcs_ref) %> built on
        <%= Application.get_env(:scrooge, :build_date) %>
      </div>
    </footer>

    <%= csrf_meta_tag() %>
    <script
      type="text/javascript"
      src={Routes.static_path(@conn, "/js/app.js")}
    ></script>
  </body>
</html>
