name: Build and Deploy to Docker Hub

on:
  - push
  - pull_request

jobs:
  test:
    name: Setup, Build, Test
    uses: brianmay/workflows/.github/workflows/elixir.yaml@main
    with:
      plts_cache_postfix: "-1"

  push:
    name: Push
    uses: brianmay/workflows/.github/workflows/docker.yaml@main
    secrets:
      DEPLOY_USER: ${{ secrets.DEPLOY_USER }}
    needs:
      - test
